[submodule "bashmarks"]
	path = 3rdparty/bashmarks
	url = https://github.com/huyng/bashmarks.git
[submodule "iterm2-colors"]
	path = 3rdparty/iterm2-colors
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
